

:host{
  display: flex;
  width: 100%;
  height: 100%;

  .app-container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    .app-header{
      display: flex;
      width: 100%;
      height: 60px;
      position: relative;
      border-bottom: 1px dotted #fff;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      color: white;
      font-family: "Times New Roman", Times, serif;
      background-color: #fb8b1e;
    }

    .app-content{
      display: flex;
      width: 100%;
      height: calc(100% - 60px);
      flex-direction: column;

      .stocks-table-container{
        display: flex;
        width: 100%;
        height: 55%;
        justify-content: center;
        padding: 30px;
      }

      .chart-container{
        display: block;
        height: 45%;
        width: 100%;
        padding: 20px;
      }
    }
  }

  @media only screen and (min-width: 1000px) {

    ::ng-deep app-line-chart{
      display: block;
    }

    .app-container {
      .app-content {
        flex-direction: row;

        .chart-container {
          height: 100%;
          width: 50%;
        }
        .stocks-table-container{
          height: 100%;
          width: 50%;
        }
      }
    }
  }
}

